# ----------------------------------------------------------------------------------------------------------------------
# Convenção de formatação compartilhada entre IntelliJ, VS Code e editores compatíveis.
# Limite de 120 colunas em Dart, YAML e Markdown.
# ----------------------------------------------------------------------------------------------------------------------
root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = false
max_line_length = 80
tab_width = 4

[*.dart]
indent_size = 2
max_line_length = 120

[{*.gql,*.graphql,*.graphqls}]
indent_size = 2
tab_width = 2

[{*.graphqlconfig,*.graphqlrc,*.har,*.json,*.jsonc}]
indent_size = 2

[{*.markdown,*.md}]
max_line_length = 120
trim_trailing_whitespace = false

[{*.yaml,*.yml,.clang-format,.clang-tidy,_clang-format,pubspec.lock}]
indent_size = 2
max_line_length = 120
